*{
    margin:0;
    padding: 0;
}
body{
    background-color:#777777;
    color: white;
}

header{
    background-color:#444444;
    padding: 10px;
    text-align: center;
    letter-spacing: 4px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.container{
    height: 450px;
    text-align: center;
    margin-top: 20px;
}
#seconds{
    font-size: 23px;
    font-family: monospace;
}
#currentWord{
    letter-spacing: 2px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin:10px 0px ;
    font-size: 35px;
}
#wordInput{
    width:30%;
    height:30px;
    border: 2px solid darkslategray;
    border-radius: 8px;
    font-size: 17px;
    padding:10px;
}
#message{
    padding:8px 0px;
}
.display{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    justify-content: center;
    margin:0 auto;
    width: 300px;
    justify-content: space-between;
}

#time, #score{
    font-weight: bold;
}
#time{
    color: maroon;
}
#score{
    color: darkslategray;
}
.instruction{
    width:350px;
    margin:0 auto;
    background-color: gray;
    border-radius: 8px;
    margin-top:45px;
}
.inst{
    background-color: #555555;
    padding: 6px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.content{
    padding:13px;
    text-align: justify;
}
button{
    padding:3px 6px;
    margin:40px 20px;
    width:70px;
    height:30px;
    cursor:pointer;
    background-color: #666666;
    border:2px solid #888888;
    border-radius: 50px;
}
button.active{
    background-color: #333333;
    color:white;
}